# deps, cache and builds
node_modules
.parcel-cache
build

# databases and environment variables
*.sqlite
*.env

# create and run these during development, instead of running an entire service, don't check them in tho!
*.sandbox.js

# junk
.DS_Store

# TODO: this should be generated during an ARM build, not on a dev machine, not committing
yarn.lock
